<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lineedit_history_tweak_book_find_edit</key>
	<array>
		<string>End of the Pro</string>
		<string>END OF</string>
	</array>
	<key>lineedit_history_tweak_book_preview_search</key>
	<array>
		<string>cognizership</string>
		<string>clled</string>
		<string>clle</string>
		<string> approver</string>
		<string> al</string>
		<string> al </string>
		<string>afforesaid</string>
		<string>acrts</string>
	</array>
</dict>
</plist>
